{% if site.generate_categories %}
  {% assign directories = site.static_files | map: "path" | map: "split:" | map: "first" | uniq %}
  {% for dir in directories %}
    {% unless dir == '' %}
      ---
      layout: category
      title: 子目录 {{ dir }}
      category: {{ dir }}
      ---
      # 子目录 {{ dir }}

      ## 子目录和文件

      <ul>
        {% assign files = site.static_files | where_exp: "file", "file.path contains dir" %}
        {% assign subdirs = files | map: "path" | map: "split:" | map: "first" | uniq %}
        {% assign files_in_dir = files | where_exp: "file", "file.path == dir + '/' + file.path | split: '/' | last" %}

        {% for subdir in subdirs %}
          {% unless subdir == dir %}
            <li>
              <a href="{{ subdir | relative_url }}">{{ subdir }}</a>
            </li>
          {% endunless %}
        {% endfor %}

        {% for file in files_in_dir %}
          <li>
            <a href="{{ file.path | relative_url }}">{{ file.path | split: '/' | last }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endfor %}
{% endif %}
