---
layout: default
---

# {{ page.title }}

## 子目录和文件

<ul>
  {% assign current_dir = page.category %}
  {% assign files = site.static_files | where_exp: "file", "file.path contains current_dir" %}
  {% assign subdirs = files | map: "path" | map: "split:" | map: "first" | uniq %}
  {% assign files_in_dir = files | where_exp: "file", "file.path == current_dir + '/' + file.path | split: '/' | last" %}

  {% for subdir in subdirs %}
    {% unless subdir == current_dir %}
      <li>
        <a href="{{ subdir | relative_url }}">{{ subdir }}</a>
      </li>
    {% endunless %}
  {% endfor %}

  {% for file in files_in_dir %}
    <li>
      <a href="{{ file.path | relative_url }}">{{ file.path | split: '/' | last }}</a>
    </li>
  {% endfor %}
</ul>
